useDynLib(kodamaR, .registration = TRUE)
importFrom(Rcpp, evalCpp)
S3method(print,kodama_diagnostics)
S3method(print,kodama_matrix)
export(CoreKNN)
export(CorePLSLDA)
export(KNNCV)
export(KODAMA.clustering)
export(KODAMA.diagnostics)
export(KODAMA.graph)
export(KODAMA.makeSNNGraph)
export(KODAMA.matrix)
export(KODAMA.matrix.graph)
export(KODAMA.pca)
export(KODAMA.timing)
export(KODAMA.visualization)
export(PLSLDACV)
export(kodama_diagnostics)
export(kodama_matrix)
export(kodama_matrix_graph)
export(kodama_pca)
export(kodama_timing)
export(makeSNNGraph)
