useDynLib(KODAMA, .registration = TRUE)
importFrom(Rcpp, evalCpp)
S3method(print,kodama_diagnostics)
S3method(print,kodama_matrix)
S3method(RunFastPCA,SingleCellExperiment)
S3method(RunFastPCA,SpatialExperiment)
S3method(RunFastPCA,Seurat)
S3method(RunFastPCA,default)
S3method(RunFastPCA,giotto)
S3method(RunKODAMAgraph,SingleCellExperiment)
S3method(RunKODAMAgraph,SpatialExperiment)
S3method(RunKODAMAgraph,Seurat)
S3method(RunKODAMAgraph,default)
S3method(RunKODAMAgraph,giotto)
S3method(RunKODAMAmatrix,SingleCellExperiment)
S3method(RunKODAMAmatrix,SpatialExperiment)
S3method(RunKODAMAmatrix,Seurat)
S3method(RunKODAMAmatrix,default)
S3method(RunKODAMAmatrix,giotto)
S3method(RunKODAMAclustering,SingleCellExperiment)
S3method(RunKODAMAclustering,SpatialExperiment)
S3method(RunKODAMAclustering,Seurat)
S3method(RunKODAMAclustering,default)
S3method(RunKODAMAclustering,giotto)
S3method(RunKODAMAvisualization,SingleCellExperiment)
S3method(RunKODAMAvisualization,SpatialExperiment)
S3method(RunKODAMAvisualization,Seurat)
S3method(RunKODAMAvisualization,default)
S3method(RunKODAMAvisualization,giotto)
S3method(RunSpatialFeatureSelection,SpatialExperiment)
S3method(RunSpatialFeatureSelection,Seurat)
S3method(RunSpatialFeatureSelection,default)
S3method(RunSpatialFeatureSelection,giotto)
export(CoreKNN)
export(CorePLSLDA)
export(dinisurface)
export(helicoid)
export(KNNCV)
export(KODAMA.clustering)
export(KODAMA.diagnostics)
export(KODAMA.graph)
export(KODAMA_backend)
export(KODAMA.graph.materialize)
export(KODAMA.makeSNNGraph)
export(KODAMA.matrix)
export(KODAMA.matrix.graph)
export(KODAMA.pca)
export(KODAMA.spatial.features)
export(KODAMA.timing)
export(KODAMA.visualization)
export(PLSLDACV)
export(RunFastPCA)
export(RunKODAMAgraph)
export(RunKODAMAmatrix)
export(RunKODAMAclustering)
export(RunKODAMAvisualization)
export(RunSpatialFeatureSelection)
export(SpatialFeatureSelection)
export(kodama_diagnostics)
export(kodama_matrix)
export(kodama_matrix_graph)
export(kodama_pca)
export(kodama_timing)
export(makeSNNGraph)
export(normalization)
export(passing.message)
export(scaling)
export(spatial_feature_selection)
export(spirals)
export(swissroll)
